body {
    font-family: Arial, sans-serif;
    background-image: url('4512-tesco-food-collection-volunteer-receiving-food-donation.jpg'); 
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffffe0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    width: 350px;
    padding: 20px;
}


h1 {
        text-align: center;
        color: #db5e34;
        margin: 20px 0;
}
    


form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, select {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #db7734;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b95929;
}





